<div class="card grid-kb">
                        <div class="card-header ch-dark palette-purplec-400 bg">
                            <div class="grid-header row hidden-xs p-15">
                                <div class="col-lg-6 col-sm-6 no-space">
                                    <h3 class="m-b-0 m-t-0 c-white p-t-20 p-b-20">Customize Widget</h3>
                                </div>

                                <ul class="actions a-alt">
                                    <li data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Preview chat">
                                        <button class="actionheader-icon" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="Get-previewWidget">
                                            <img src="../assets/img/icon/preview-widget.png" class="m-t-5" style="width:45px;">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="list-group lg-alt lg-even-black kb-grid-answer-List">
                            <div class="customize-grid p-15">
                                <form role="form" class="form-savvy">
                                    <div class="form-group fg-line p-t-20">
                                        <label class="palette-Grey-900 text f-16 p-l-20">SETTINGS</label><br>
                                        <div class="m-t-20 p-l-20">
                                        <label class="radio radio-inline m-r-20 palette-Grey-600 text f-16 m-l-20">
                                            <input type="radio" name="role1" value="option1" checked>
                                            <i class="input-helper"></i>
                                            On Click
                                        </label>
                                        <label class="radio radio-inline m-r-20 palette-Grey-600 text f-16">
                                            <input type="radio" name="role2" value="option2">
                                            <i class="input-helper"></i>
                                            Auto Open
                                        </label>
                                        </div>
                                    </div>
                                </form>
                                <div class="customize-widget">
                                    <h4 class="palette-Grey-900 text p-l-20">SELECT WIDGET</h4>
                                    <div class="row clearfix text-center">
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item green active">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item blue">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue.png">
                                                </div>
                                        </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item turquoise">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item teal">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue-green.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item lightyellow">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item purple">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue-white.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item white">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item pink">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue-white.png">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pg-item seagreen">
                                            <a href="javascript:;">
                                                <div class="bg-circle ">
                                                    <img src="../assets/img/icon/dialogue.png">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>