<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{("Editions")}}</span> <small>{{l("EditionsHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button *ngIf="permission.isGranted('Pages.Editions.Create')" class="btn btn-primary blue" (click)="createEdition()"><i class="fa fa-plus"></i> {{l("CreateNewEdition")}}</button>
        </div>
    </div>

    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div id="EditionsTable"></div>
        </div>
    </div>
    <createOrEditEditionModal #createOrEditEditionModal (modalSave)="getEditions()"></createOrEditEditionModal>
</div>