<div class="row">
    <div class="col-sm-6">
        <ul class="breadcrumb-ext pull-left">
            <li><a href="#">KB</a></li>
            <li><a href="#">VINEFORCE</a></li>
            <li class="active">ANSWERS <a href="javascript:;" class="text-muted" data-toggle="qrt" data-target="#qrtEditKnldgeBase"><i class="fa fa-pencil"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="kb-ans-count">0/79</div>
    </div>
    <div class="col-sm-6">
        <div class="point-arrow text-right">
            <a href="javascript:;" class="btn btn-outline green-jungle" data-toggle="qrt" data-target="#qrtKnldgeBaseAddAns" (click)="toggleSideBars('qrtKnldgeBaseAddAns')">
                <i class="fa fa-plus"></i> Answer
            </a>
            <div class="arrow" style="margin-top:15px;margin-right:20px">
                <img src="../assets/layouts/layout4/img/icon/user-up-arrow_512.png">
            </div>
        </div>
        <!--/point-arrow-->
    </div>
</div>
<!--/row-->

<div class="clearfix"></div>

<div class="graphic text-center">
    <div class="crying">
        <img src="../assets/layouts/layout4/img/icon/crying_450.png">
    </div>
    <h4 class="text-uppercase sbold font-grey-silver"> You are all set to add your first Answer. I'm excited!</h4>

</div>
<div class="clearfix"></div>



<div class="space30"></div>

<div class="panel-group panel-kb-qa" id="kbCollapsible" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading11">
            <div class="dropdown pull-right">
                <button class="btn btn-link btn-icon-only dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical fa-lg"></span>
                                  </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;" data-toggle="qrt" data-target="#qrtKnldgeBaseEditAns">Edit</a></li>
                    <li><a href="javascript:;" data-toggle="modal" data-target="#deleteConfirmModal">Delete</a></li>
                </ul>
            </div>
            <a role="button" data-toggle="collapse" data-parent="#kbCollapsible" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                <div class="que">Q: Do I need to file a state return?</div>
                <div class="ans">A: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et.
                </div>
            </a>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
            <div class="panel-body">
                A: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading12">
            <div class="dropdown pull-right">
                <button class="btn btn-link btn-icon-only dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical fa-lg"></span>
                                  </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;" data-toggle="qrt" data-target="#qrtKnldgeBaseEditAns">Edit</a></li>
                    <li><a href="javascript:;" data-toggle="modal" data-target="#deleteConfirmModal">Delete</a></li>
                </ul>
            </div>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#kbCollapsible" href="#collapse12" aria-expanded="false"
                aria-controls="collapse12">
                <div class="que">Q: If I don't need to file a return, should I go ahead and file one anyway?</div>
                <div class="ans">A: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et.
                </div>
            </a>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading13">
            <div class="dropdown pull-right">
                <button class="btn btn-link btn-icon-only dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical fa-lg"></span>
                                  </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;" data-toggle="qrt" data-target="#qrtKnldgeBaseEditAns">Edit</a></li>
                    <li><a href="javascript:;" data-toggle="modal" data-target="#deleteConfirmModal">Delete</a></li>
                </ul>
            </div>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#kbCollapsible" href="#collapse13" aria-expanded="false"
                aria-controls="collapse13">
                <div class="que">Q: What's my standard deduction for 2016?</div>
                <div class="ans">A: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et.
                </div>
            </a>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
<!--/panel-group-->


<answerAddComponent #answerAddComponent></answerAddComponent>