<div class="card grid-kb">
                        <div class="card-header ch-dark palette-purplec-400 bg">
                            <div class="grid-header row hidden-xs p-15">
                                <div class="col-lg-6 col-sm-6 no-space">
                                    <h3 class="m-b-0 m-t-0 c-white  p-t-20 p-b-20">Manage Q&A <span class="badge p-5 bgm-white palette-Grey-900 text">14</span></h3>
                                </div>

                                <ul class="actions a-alt">
                                    <li data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Add Q&A">
                                        <button class="actionheader-icon" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="add-knowledgeBaseAnswer">
                                            <i class="hm-icon palette-Cyan-600 bg zmdi zmdi-plus zmdi-hc-fw  c-white" ></i>
                                        </button>
                                    </li>
                                </ul>

                                <ul class="actions a-alt">
                                    <li class="dropdown">
                                        <button class="actionheader-icon"  data-toggle="dropdown" aria-expanded="false">
                                            <i class="hm-icon palette-Cyan-600 bg zmdi zmdi-plus zmdi-hc-fw  c-white" ></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="javascript:;" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="add-knowledgeBaseAnswer" class="f-14">Add Q&A</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="import-knowledgeBaseAnswer" class="f-14">Import Q&A</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="list-group lg-alt lg-even-black kb-grid-answer-List kb-tile-select">
                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="edit-knowledgeBaseAnswer" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="kb-deleteanswer" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a state return?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="edit-knowledgeBaseAnswer" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="kb-deleteanswer" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a federal return this year?  </div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">If I don't need to file a return, should I go ahead and file one anyway?      </div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">How do I notify the IRS my address has changed?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Is there an age limit on claiming my child as a dependent?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a state return?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">What should I do if I made a mistake on my federal return that I've already filed?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a state return?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a state return?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a state return?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them.If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item media m-b-0">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="palette-Cyan-600 text zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="javascript:;" class="f-14">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f-14">Delete</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <div class="palette-Grey-900 text f-16 m-b-5">Do I need to file a state return?</div>
                                    <div class="ans palette-Grey-600 text f-16 seemore">If you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from themIf you're getting a small refund from your state, you may be tempted not to file, especially if it costs more to file your state than what you'd get back from them. 
                                    <br><br>
                                    However, this decision can come back to haunt you later. State tax law – not your refund amount – determines whether or not you're required to file. 
                                    <br><br>
                                    Many states require that you file a state tax return if you filed a federal return, regardless of your anticipated refund amount. 
                                    <br><br>
                                    Click your state for info about their filing requirements (or state contact information if they don't provide their filing requirements online).as well as an unlimited number of members in each of their Meetup groups.
                                        <div class="row m-t-20">
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Alabama (AL)</a><br>
                                                <a href="">Alabama (AL)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Kentucky (KY)</a><br>
                                                <a href="">Louisiana (LA)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">North Dakota (ND)</a><br>
                                                <a href="">Ohio (OH)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">Minnesota (MN) </a><br>
                                                <a href="">Texas (TX)</a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-12 ">
                                                <a href="">California  (CA)</a><br>
                                                <a href="">New York (NY)</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>