<!--<div class="user-login-5" [busyIf]="saving">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset mt-login-5-bsfix">
            <div class="login-bg" style="background:#e6ffef !important;">
                <img class="login-logo img-responsive" src="/assets/common/images/monitor.jpg" />
            </div>
        </div>
        <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
            <div class="login-content" style="padding-left:120px;padding-right:120px;">
                <form #forgotPassForm="ngForm" class="forget-form" action="users-blank.html" method="post" novalidate (ngSubmit)="save()"
                    [busyIf]="saving">
                    <h3 class="font-green-jungle text-center sbold">Forgot Password ?</h3>
                    <p class="text-center"> Enter your e-mail address below to reset your password. </p>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Email Address</label>
                        <div class="input-icon">
                            <i class="icon-envelope"></i>
                            <input [(ngModel)]="model.emailAddress" autoFocus class="form-control placeholder-no-fix form-group" type="text" autocomplete="off"
                                placeholder="Email Address" name="email" />
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn grey-salsa btn-outline" [disabled]="saving" routerLink="/account/login">Back</button>
                        <button type="submit" class="btn green-jungle pull-right" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">Submit</button>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-12 bs-reset">
                        <div class="text-center">
                            <p>Copyright &copy; Savvy 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="lb-header">
    <div class="login-img palette-Blue-Grey-700 bg p-absolute">
        <img class="p-relative" src="/assets/layouts/layout4/img/icon/joyful.png">
    </div>
    <h3 class="palette-purplec-400 text p-relative text-center">Forgot Password?</h3>
</div>

<div class="lb-body">
    <h4 class="m-b-30 text-center headingtext-color"> Please provide your email address and we will send you the reset link </h4>
    <form #forgotPassForm="ngForm" class="forget-form" action="users-blank.html" method="post" novalidate (ngSubmit)="save()"
        [busyIf]="saving">
        <div class="form-group fg-float">
            <div class="fg-line">
                <input floatingLabel type="text" class="input-sm form-control fg-input" [(ngModel)]="model.emailAddress" autoFocus autocomplete="off"
                    required name="email" #emailAddress="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                <label class="fg-label">Email Address</label>
            </div>
            <span class="c-red" *ngIf="emailAddress.errors &&emailAddress.errors.required && (emailAddress.dirty || emailAddress.touched)">
			    Please enter email address
            </span>
            <span class="c-red" *ngIf="emailAddress.errors &&emailAddress.errors.pattern && (emailAddress.dirty || emailAddress.touched)">
			    Please enter valid email address
            </span>
        </div>

        <button class="btn palette-purplec-400 bg btn-outline-purple f-16 w-100 m-t-15" waveBtnRound="false" [disabled]="!forgotPassForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit">Send Reset Link</button>
    </form>

    <div class="m-t-30 text-center">
        <p class="f-14">Already have a company?<a data-block="#l-login" data-bg="themepurple" class="palette-purplec-400 text m-b-5 p-l-10"
                href="" animateBlockDirective>Sign In</a></p>
        <!-- <a data-block="#l-forget-password" data-bg="purple" href="" class="palette-Teal text">Forgot password?</a> -->
    </div>


</div>