<div class="user-login-5" [busyIf]="saving">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset mt-login-5-bsfix">
            <div class="login-bg" style="background:#e6ffef !important;">
                <img class="login-logo img-responsive" src="/assets/common/images/monitor.jpg"/>
            </div>
        </div>
        <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
            <div class="login-content" style="padding-left:120px;padding-right:120px;">
    <h3 class="form-title">{{l("ChangePassword")}}</h3>
    <p>
        {{l("PleaseEnterYourNewPassword")}}
    </p>

    <form #resetPassForm="ngForm" class="login-form" method="post" (ngSubmit)="save()">

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("Password")}}</label>
            <input type="password" name="Password" class="form-control" [(ngModel)]="model.password" #Password="ngModel" placeholder="{{l('Password')}}" validateEqual="PasswordRepeat"
                   reverse="true" [minlength]="passwordComplexitySetting.minLength" [maxlength]="passwordComplexitySetting.maxLength"
                   [useNumbers]="passwordComplexitySetting.useNumbers" [useUpperCaseLetters]="passwordComplexitySetting.useUpperCaseLetters"
                   [useLowerCaseLetters]="passwordComplexitySetting.useLowerCaseLetters" [usePunctuations]="passwordComplexitySetting.usePunctuations"
                   required>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("PasswordRepeat")}}</label>
            <input type="password" name="PasswordRepeat" class="form-control" [ngModel]="model.passwordRepeat" placeholder="{{l('PasswordRepeat')}}" validateEqual="Password"
                   reverse="false" required>
        </div>
        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
            <ul class="help-block text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.minlength">{{l("PasswordComplexity_MinLength_Hint",passwordComplexitySetting.minLength)}}</li>
                <li [hidden]="!Password.errors.maxLenght">{{l("PasswordComplexity_MaxLength_Hint",passwordComplexitySetting.maxLength)}}</li>
                <li [hidden]="!Password.errors.useUpperCaseLetters">{{l("PasswordComplexity_UseUpperCaseLetters_Hint")}}</li>
                <li [hidden]="!Password.errors.useLowerCaseLetters">{{l("PasswordComplexity_UseLowerCaseLetters_Hint")}}</li>
                <li [hidden]="!Password.errors.useNumbers">{{l("PasswordComplexity_UseNumbers_Hint")}}</li>
                <li [hidden]="!Password.errors.usePunctuations">{{l("PasswordComplexity_UsePunctuations_Hint")}}</li>
            </ul>
        </div>
        <div class="form-actions">
            <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
            <button type="submit" class="btn btn-success uppercase" [disabled]="!resetPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
        </div>

    </form>
</div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-12 bs-reset">
                        <div class="text-center">
                            <p>Copyright &copy; Savvy 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>