<aside id="s-main-menu" class="sidebar">
    <div class="smm-header">
        <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
    </div>
    <ul class="main-menu">
        <li>
            <a href="javascript:;" class="f-16 f-700"><img src="/assets/img/icon/home_24.png" class="p-absolute text-center">Home</a>
        </li>
        <li>
            <a href="javascript:;" class="f-16 f-700"><img src="/assets/img/icon/ticket_24.png" class="p-absolute text-center">Tickets</a>
        </li>
        <li>
            <a href="kb-answer-grid.html" class="f-16 f-700"><img src="/assets/img/icon/open_book_24.png" class="p-absolute text-center"> Knowledge Base</a>
        </li>
        <li>
            <a href="javascript:;" class="f-16 f-700"><img src="/assets/img/icon/rating_24.png" class="p-absolute text-center"> Skills</a>
        </li>
        <li>
            <a href="kb-customize-widget.html" class="f-16 f-700"><img src="/assets/img/icon/mac-window_24.png" class="p-absolute text-center"> Widget</a>
        </li>
        <li class="sub-menu active">
            <a href="" data-ma-action="submenu-toggle" class="f-16 f-700"><img src="/assets/img/icon/settings_24_cyan.png" class="p-absolute text-center"> Settings</a>
            <ul>
                <li><a href="javascript:;" class="f-16 f-700 palette-Grey-600 text">Integration</a></li>
                <li class="active"><a href="user-grid.html" class="f-16 f-700 palette-Grey-600 text">Users</a></li>
            </ul>
        </li>
    </ul>
</aside>
<div style="display:none;">
    <changePassword #changePassword></changePassword>
    <myProfile #myProfile></myProfile>
</div>