<div  id="qrtResetPwd" class="qrt" style="z-index: 10;">
	<div class="qrt-wrapper">
		<div class="qrt-content">
			<form class="form-savvy" #changePasswordForm="ngForm" (ngSubmit)="save()">
				<div class="qrt-header">
					<a (click)="closeChangePassword();" href="javascript:;" class="pull-right" data-toggle="qrt" data-target="#qrtResetPwd">
						<i class="fa fa-remove"></i>
					</a> Password Reset
				</div>
				<div class="qrt-body">
					<div class="form-group has-error">
						<label for="inputPassword">Current Password</label>
						<input type="password" class="form-control" id="inputPassword" placeholder="" required #currentPasswordInput="ngModel" [(ngModel)]="currentPassword"
						 name="CurrentPassword">
						<span class="help-block" *ngIf="currentPasswordInput.errors && (currentPasswordInput.dirty || currentPasswordInput.touched)">
							Please enter current password
                        </span>
					</div>

					<div class="form-group has-error">
						<label for="inputPassword">New Password</label>
						<input type="password" class="form-control" id="inputNewPassword" placeholder="" [(ngModel)]="password" #NewPassword="ngModel"
						 name="NewPassword" required validateEqual="NewPasswordRepeat" reverse="true" [minlength]="passwordComplexitySetting.minLength"
						 [maxlength]="passwordComplexitySetting.maxLength" [useNumbers]="passwordComplexitySetting.useNumbers" [useUpperCaseLetters]="passwordComplexitySetting.useUpperCaseLetters"
						 [useLowerCaseLetters]="passwordComplexitySetting.useLowerCaseLetters" [usePunctuations]="passwordComplexitySetting.usePunctuations">
						
						<ul class="help-block text-danger" style="list-style-type: none;margin:0;padding:0;" *ngIf="NewPassword.errors && (NewPassword.touched || NewPassword.dirty)">
							<li [hidden]="!NewPassword.errors.minlength">{{l("PasswordComplexity_MinLength_Hint",passwordComplexitySetting.minLength)}}</li>
							<li [hidden]="!NewPassword.errors.maxLenght">{{l("PasswordComplexity_MaxLength_Hint",passwordComplexitySetting.maxLength)}}</li>
							<li [hidden]="!NewPassword.errors.useUpperCaseLetters">{{l("PasswordComplexity_UseUpperCaseLetters_Hint")}}</li>
							<li [hidden]="!NewPassword.errors.useLowerCaseLetters">{{l("PasswordComplexity_UseLowerCaseLetters_Hint")}}</li>
							<li [hidden]="!NewPassword.errors.useNumbers">{{l("PasswordComplexity_UseNumbers_Hint")}}</li>
							<li [hidden]="!NewPassword.errors.usePunctuations">{{l("PasswordComplexity_UsePunctuations_Hint")}}</li>
							<li [hidden]="!NewPassword.errors.required">Please enter new password</li>
						</ul>
					</div>

					<div class="form-group has-error">
						<label for="inputConfirmPassword">Confirm New Password</label>
						<input type="password" name="NewPasswordRepeat" class="form-control" id="inputConfirmPassword" placeholder="" required [(ngModel)]="confirmPassword"
						 #NewPasswordConfirm="ngModel" validateEqual="NewPassword" reverse="false">
						<span class="help-block" *ngIf="NewPasswordConfirm.errors && NewPasswordConfirm.errors.required && (NewPasswordConfirm.dirty || NewPasswordConfirm.touched)">
							Please enter confirm new password 
                        </span>
						<span class="help-block" *ngIf="NewPasswordConfirm.errors && !NewPasswordConfirm.errors.validateEqual && (NewPasswordConfirm.dirty || NewPasswordConfirm.touched)">
						 	New password and new password must match
                        </span>
					</div>

				</div>
				<div class="qrt-footer">
					<div class="row">
						<div class="col-xs-6">
							<button type="submit" class="btn btn-block btn-lg green-jungle" [disabled]="!changePasswordForm.form.valid || saving">Save changes</button>
						</div>
						<div class="col-xs-6">
							<button type="button" class="btn btn-block btn-lg btn-outline grey-salsa" [disabled]="saving" (click)="toggleSideBars('qrtResetPwd');">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>