<!--<router-outlet>
</router-outlet>-->

<div class="login" data-lbg="themepurple">
    <!-- Login -->
    <div class="l-block toggled" id="l-login">
        <loginComponent></loginComponent>
    </div>

    <!-- Register -->
    <div class="l-block" id="l-register">
        <registerTenantComponent></registerTenantComponent>
    </div>

    <!-- Forgot Password -->
    <div class="l-block" id="l-forget-password">
        <forgotPasswordComponent></forgotPasswordComponent>
    </div>
</div>

<div style="display:none;">
    <router-outlet></router-outlet>
</div>